<h1>Eat Da Burger - App</h1>

<p>Manage your burgers with this app</p>

<!-- Pass in data from server.js -->
<h2>UNDEVOURED BURGERS:</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                <p><span class="label">ID:</span> {{burgerID}}</p>
                <p><span class="label">Burger Name:</span> {{burgerName}}</p>
                <p><span class="label">Devoured Status:</span> {{devouredStatus}}</p>
                <p><span class="label">Inserted Date:</span> {{date}}</p>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>DEVOURED BURGERS:</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>
                <p><span class="label">ID:</span> {{burgerID}}</p>
                <p><span class="label">Burger Name:</span> {{burgerName}}</p>
                <p><span class="label">Devoured Status:</span> {{devouredStatus}}</p>
                <p><span class="label">Inserted Date:</span> {{date}}</p>
            </li>
        {{/if}}
    {{/each}}
</ul>